* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.button {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    float: left;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.button:hover {
    width: 200px;
}

.button:nth-child(1):hover .icon {
    background: #4267b2;
    color: white;
}

.button:nth-child(2):hover .icon {
    background: #e1306c;
    color: white;
}

.button:nth-child(3):hover .icon {
    background: #ff0000;
    color: white;
}

.button:nth-child(4):hover .icon {
    background: #333333;
    color: white;
}

.button:nth-child(5):hover .icon {
    background: #1da1f2;
    color: white;
}

.button:nth-child(1) span {
    color: #4267b2;
    font-weight: 700;
}

.button:nth-child(2) span {
    color: #e1306c;
    font-weight: 700;
}

.button:nth-child(3) span {
    color: #ff0000;
    font-weight: 700;
}

.button:nth-child(4) span {
    color: #333333;
    font-weight: 700;
}

.button:nth-child(5) span {
    color: #1da1f2;
    font-weight: 700;
}

.button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.button .icon i {
    font-size: 25px;
    line-height: 60px;
}